{% extends 'base.html.twig' %}

{% block title %}
	Nouveau logement
	{{ parent() }}
{% endblock %}

{% block body %}

	<h1 class="mb-4">Enregistrer une propriété</h1>

    {{ form_start(formView) }}

    <div class="mb-3"> 
        {{ form_label(formView.title, "Titre") }}
        {{ form_widget(formView.title ) }}
    </div>

    <div class="mb-3"> 
    {{ form_label(formView.description, "Description") }}
    {{ form_widget(formView.description) }}
    </div>

    <div class="mb-2"> 
        {{ form_label(formView.image_path, "Image") }}
        {{ form_widget(formView.image_path) }}
    </div>

    <button type="submit" class="btn btn-success btn-sm">Enreigstrer</button>
        
    {{ form_end(formView) }}
{% endblock %}

